@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #0f1424;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  width: 90%;
  max-width: 340px;
  margin: 5rem 25px;
}
@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    min-width: 650px;
    max-width: 900px;
    gap: 1.5rem;
  }
}

.card-profile {
  color: white;
}
.card-profile__user-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5847eb;
  height: 130px;
  padding: 0 20px;
  border-radius: 15px;
  position: relative;
  z-index: 2;
}
.card-profile__user-info .user-info__avatar {
  width: 70px;
  margin-right: 15px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.card-profile__user-info .user-info__title {
  font-weight: 300;
  font-size: 1.4rem;
}
@media screen and (min-width: 800px) {
  .card-profile__user-info .user-info__title {
    font-size: 1.8rem;
    letter-spacing: 1px;
  }
}
.card-profile__user-info .user-info__title .user-info__title--small {
  display: block;
  font-size: 0.9rem;
  color: #bdc1ff;
  margin-bottom: 5px;
}
@media screen and (min-width: 800px) {
  .card-profile__user-info .user-info__title .user-info__title--small {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 800px) {
  .card-profile__user-info {
    flex-direction: column;
    align-items: initial;
  }
}
.card-profile__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c1f4a;
  padding: 45px 20px 25px 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateY(-20px);
}
.card-profile__options .card-profile__option {
  color: #6f76c8;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s linear;
}
.card-profile__options .card-profile__option--selected, .card-profile__options .card-profile__option:hover {
  color: #fff;
}
@media screen and (min-width: 800px) {
  .card-profile__options .card-profile__option {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 800px) {
  .card-profile__options {
    padding-top: 35px;
    min-width: 200px;
  }
}
@media screen and (min-width: 800px) {
  .card-profile {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .card-profile__user-info {
    height: 70%;
  }
  .card-profile__options {
    height: 35%;
    flex-direction: column;
    align-items: initial;
  }
}

.card-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c1f4a;
  border-radius: 15px;
  color: #fff;
  margin-top: 60px;
  padding: 0 25px;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease;
}
.card-stats::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 15px;
  transform: translateY(-35px);
  z-index: -1;
}
.card-stats__title {
  font-weight: 400;
  margin: 25px 0 0;
  position: relative;
}
.card-stats__title::after {
  content: url("../images/icon-ellipsis.svg");
  position: absolute;
  right: 0;
  transition: 0.5s ease-in;
}
.card-stats__title:hover::after {
  filter: brightness(2);
}
.card-stats__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  margin-bottom: 15px;
}
.card-stats__info-hour {
  margin: 0;
  font-size: 1.6rem;
}
.card-stats__info-previous-hour {
  color: #bdc1ff;
  font-size: 0.9rem;
}
@media screen and (min-width: 800px) {
  .card-stats__info {
    flex-direction: column;
    align-items: initial;
    justify-content: space-around;
  }
}
@media screen and (min-width: 800px) {
  .card-stats {
    margin-top: 40px;
    min-width: 200px;
  }
}

.card-stats__work {
  margin-top: 40px;
}
.card-stats__work::before {
  background: url("../images/icon-work.svg") no-repeat top -10px right 16px, #ff8c66;
  background-size: 75px;
}
@media screen and (min-width: 800px) {
  .card-stats__work::before {
    background-size: 55px;
  }
}
@media screen and (min-width: 800px) {
  .card-stats__work {
    margin-top: 40px;
  }
}

.card-stats__play::before {
  background: url("../images/icon-play.svg") no-repeat top -5px right 16px, #56c2e6;
  background-size: 75px;
}
@media screen and (min-width: 800px) {
  .card-stats__play::before {
    background-size: 55px;
  }
}

.card-stats__study::before {
  background: url("../images/icon-study.svg") no-repeat top -5px right 16px, #ff5c7c;
  background-size: 75px;
}
@media screen and (min-width: 800px) {
  .card-stats__study::before {
    background-size: 55px;
  }
}

.card-stats__exercise::before {
  background: url("../images/icon-exercise.svg") no-repeat top -1px right 16px, #4acf81;
  background-size: 75px;
}
@media screen and (min-width: 800px) {
  .card-stats__exercise::before {
    background-size: 55px;
  }
}

.card-stats__social::before {
  background: url("../images/icon-social.svg") no-repeat top -15px right 16px, #7536d3;
  background-size: 75px;
}
@media screen and (min-width: 800px) {
  .card-stats__social::before {
    background-size: 55px;
  }
}

.card-stats__self-care::before {
  background: url("../images/icon-self-care.svg") no-repeat top -18px right 16px, #f1c65b;
  background-size: 75px;
  background-size: 65px 75px;
}
@media screen and (min-width: 800px) {
  .card-stats__self-care::before {
    background-size: 55px;
  }
}

/*# sourceMappingURL=style.css.map */
