@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import './components/variables';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: $text-font;
    background-color: $Very-dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: grid;
    width: 90%;
    max-width: 340px;
    margin: 5rem 25px;

    @media screen and (min-width: 800px) {
        & {
            grid-template-columns: repeat(4, 1fr);
            min-width: 650px;
            max-width: 900px;
            gap: 1.5rem;
        }
    }
}

@import './components/card-profile';
@import './components/card-stats';
